# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
.venv/
env/
venv/

# Sphinx build output
docs/_build/
docs/.tox/
docs/.cache/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: log files
*.log
